<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue双向绑定原理探索</title>
    <script src="vue-model.js"></script>
</head>
<body>
<div id="app">
    <form>
        <input type="text" v-model="number">
        <button type="button" v-click="increment1">增加</button>
    </form>
    <form>
        <input type="text" v-model="cub">
        <button type="button" v-click="increment2">增加2</button>
    </form>
    <h3 v-bind="number"></h3>
    <h3 v-bind="cub"></h3>
</div>
<script>
    window.onload = function () {
        var app = new myVue({
            el: '#app',
            data: function () {
                return {
                    number: 0,
                    cub: 1
                }
            },
            methods:{
                increment1: function () {
                    this.number ++;
                },
                increment2: function () {
                    this.cub ++;
                }
            }
        });
    }
</script>
</body>
</html>
